.cover__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    cursor: url(../../../images/pointer.png) 10 2, default;  
}


@media (max-width: 424px) {
    .cover__card {
        row-gap: 16px;
        padding-top: 8px;

    }
    
}